- @force_desktop_expanded_sidebar = true

- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
= render "layouts/google_tag_manager_body"

- page_title s_("UsageQuota|Usage")

%h1.page-title.gl-font-size-h-display
  = s_('UsageQuota|Usage Quotas')

.row
  .col-sm-6
    = s_('UsageQuota|Usage of resources across your projects').html_safe

= gl_tabs_nav({ class: 'js-storage-tabs' }) do
  = gl_tab_link_to '#pipelines-quota-tab', data: { qa_selector: 'pipelines_tab' }, item_active: true do
    =  s_('UsageQuota|Pipelines')
  = gl_tab_link_to '#storage-quota-tab', data: { qa_selector: 'storage_tab' } do
    = s_('UsageQuota|Storage')

.tab-content.gl-tab-content
  .tab-pane.active#pipelines-quota-tab
    #js-pipeline-usage-app{ data: pipeline_usage_app_data(@namespace) }
  .tab-pane#storage-quota-tab
    #js-storage-counter-app{ data: storage_usage_app_data(@namespace) }
